@use './variables.scss' as *;

#portfolio {
    text-align: center;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    background-color: $first-background-color;
    font-family: $font-family;

    @media (max-width: 767px) {
        padding: 75px 0 25px 0;
    }

    h2 {
        margin-bottom: 36px;
        font-size: 36px;
        color: $second-background-color;

        @media (max-width: 767px) {
            font-size: 22px;
            margin-bottom: 0;
        }
    }

    .projects_container {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 30px;

        @media (max-width: 767px) {
            flex-direction: column;
            padding: 0 20px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            flex-direction: row;
            justify-content: space-around;
          }
        
          @media (min-width: 1025px) {
            .projectCard {
              justify-content: space-between;
            }
          }
    }
}