@use './variables.scss' as *;

.card {
  border: 1px solid #b5b0b0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 20%;
  height: 100%;
  margin: 0;
  font-family: $font-family;

  @media (max-width: 767px) {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.70);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 45%;
    margin-bottom: 30px;
  }

  @media (min-width: 1025px) {
    width: 22%;
  }

  .card-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;


    .card-header-text {
      flex-grow: 1;

      .card-title {
        margin: 0;
        font-size: 20px;
        color: $second-background-color;

        @media (max-width: 767px) {
          font-size: 17px;
        }
      }
    }
  }

  .card-media {
    width: 100%;
    height: 194px;
    object-fit: cover;
  }

  .card-content {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #0467ca;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }

  .card-actions {
    @include flex-row;
    border-top: 1px solid #ddd;
  }
}