@import './variables.scss';

.collapse {
    border-radius: 5px;
    overflow: hidden;
    font-family: $font-family;
  
    .collapse-header {
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      cursor: pointer;
  
      .arrow {
        width: 15px;
        height: 15px;
        border: solid black;
        border-width: 0 3px 3px 0;
        transform: rotate(-135deg);
        transition: transform 0.3s ease;
  
        &.open {
          transform: rotate(-315deg);
        }
      }
    }
  
    .collapse-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      padding: 0 1rem;
  
      &.show {
        background-color: #F6F6F673;
        max-height: 300px; 
        padding: 1rem;
        font-size: 13px;
      }
    }
  }