@import './variables.scss';

header {
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    font-family: $font-family;
    font-weight: 700;

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 150px;

        li a {
            color: black;
            text-decoration: none;
            transition: transform 0.3s ease;

            &:hover {
                display: inline-block;
                transform: translateY(-5px);

            }
        }
    }
}